.abt_row {
	background-image: url("../.././images/body_bkd.png");
	background-size: cover;
	padding-top: 7em;
} 

.abt_btn {
	background-color: transparent;
	border: 0px;
	color: #CA2E55;
	font-size: 16px;
}
