.contact_body {
	background-image: url("../.././images/body_bkd.png");
	background-size: cover;
}

.contact_cta {
	background-image: url('../.././images/bkd_texture.png');
	background-size: cover;
	box-shadow: inset 0 0 30px 30px #00000c;
}


