.hero {
	background-image: url("../.././images/dave_ftr.png");
	background-size: cover;
  	box-shadow: inset 0 0 10px 5px #00000c;
  	
}

@media screen and (max-width: 320px) {
 .hero {
    box-shadow: none;
    background-size: cover;
    background-repeat: no-repeat;
  }
}


.cta_row {
	display: flex;
	background-image: url("../.././images/dave_cta.png");
	background-size: cover;
}


.home_body {
	background-image: url("../.././images/body_bkd.png");
	background-size: cover;
}

@media screen and (max-width: 320px) {
	.home_body {
		background-image: url("../.././images/mbl_bkd.png");
		background-size: cover;
		background-repeat: no-repeat;
	}
}








