.nav_row {
	display: flex;
	background-color: #00000c;
}

.nav_col_1 {
	flex: 25%;
}

.nav_col_2 {
	flex: 75%;
}

.nav_img {
	float: left;
	height:100px;
}

.nav_ctr {
	color: #ffffff;
	text-align: right;
	padding-top: 1em;
}

.nav_itm {
	color: #ffffff;
	padding: 0 2em 2em 2em;
	font-size: 18px;
	text-decoration: none;
}
